body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: url(images/easRocket.cur), auto;
  background: url('images/easBackground.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.content h1,
.content h2,
.content h3 {
  margin: 0;
}

.userControl {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


.options {
  /*background-color: rgba(0, 0, 0, 0.5);  Add a semi-transparent background color to the options section */
  /* You can adjust the rgba values to change the background color and transparency */
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

#container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; 
  justify-content: space-between;
  align-content: center;
  border: 1px solid #000;
}

.square {
  flex-basis: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  background-color: transparent;
}

/* Add styling for the cursor trail */
#cursor-trail {
  position: fixed;
  pointer-events: none;
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(255, 165, 0, 0.3), rgba(255, 255, 0, 0.3), rgba(0, 128, 0, 0.3), rgba(0, 0, 255, 0.3), rgba(75, 0, 130, 0.3), rgba(238, 130, 238, 0.3));
  border-radius: 50%;
  mix-blend-mode: multiply;
  z-index: 9999;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  animation: cursorTrail 0.5s linear infinite;
}

@keyframes cursorTrail {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
  }
  50% {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.8);
  }
}

/* Style Buttons */

/* Example button styling */

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(76, 175, 80, 0.5);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Button hover effect */
button:hover {
  background-color: rgba(76, 175, 80, 0.7); /* Adjust the RGB values and alpha (0.7) for transparency */
}

/* Button active effect */
button:active {
  background-color: rgba(76, 175, 80, 0.8); /* Adjust the RGB values and alpha (0.8) for transparency */
}

/* Styling for specific buttons */
#eraseButton {
  background-color: #f44336;
}

#clearButton {
  background-color: #2196f3;
}

#drawButton {
  background-color: #ff9800;
}

/* Styling for colorPicker */
#colorPicker {
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
